<ul class="list">
    {% for key, server in serverList %}
        <li>{{ server.mode }} | {{ server.region }}: {{ server.playerCount() }} (Wait: {{ server.formattedAvgWait }})</li>
    {% endfor %}
</ul>
